/*Add CSS styles here*/
html,
body,
#viewDiv  {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.splash-screen h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.splash-screen p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
}
.splash-screen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.query-form {
    display: block; /* Show by default */
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    max-width: 300px;
}

.query-form.hidden {
  display: none; /* Hide when the hidden class is applied */
}

/* Styles for toggle query button */
.toggle-query-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: #0079c1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.toggle-query-button:hover {
    background-color: #005f91;
}

/* New styles for submit buttons */
.query-form button[type="submit"] {
    background-color: #28a745; /* Green color */
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.query-form button[type="submit"]:hover {
    background-color: #218838;
}

/* New styles for reset button */
.reset-button {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto; /* Center the button so it stands out more to the user */
    background-color: gray;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.reset-button:hover {
    background-color: #c82333;
}